<div class="auth-container" data-script="pageChangePassword">
  <div class="auth-card">
    <div class="auth-header">
      <h1 data-i18n>Change password</h1>
      <p data-i18n>You must change the password issued at install time before continuing</p>
    </div>

    <form novalidate>
      <fieldset>
        <div>
          <label for="current_password" data-i18n>Current password</label>
          <span class="form-control icon-lock">
            <input type="password" id="current_password" name="current_password" required
                   autocomplete="current-password">
          </span>
        </div>
        <div>
          <label for="new_password" data-i18n>New password</label>
          <span class="form-control icon-lock">
            <input type="password" id="new_password" name="new_password" required minlength="12"
                   autocomplete="new-password" data-element="password" data-password-strength="bar">
          </span>
          <div class="comment" data-i18n>At least 12 characters</div>
        </div>
      </fieldset>

      <fieldset class="center">
        <button type="submit" class="btn btn-primary fullwidth large icon-save" data-i18n>Change password</button>
      </fieldset>
    </form>
  </div>
</div>
