<form data-form="dnsRecord"
      data-attr="action:form_action"
      method="post"
      data-ajax-submit="true"
      data-validate="true">
  <fieldset>
    <div class="form-group">
      <div class="width50">
        <label for="rec_type" data-i18n>Type</label>
        <span class="form-control">
          <input type="text" id="rec_type" name="type" required list="rec_types" maxlength="15"
                 autocomplete="off" spellcheck="false" class="mono" data-attr="value:type">
          <datalist id="rec_types">
            <option value="A">A</option>
            <option value="AAAA">AAAA</option>
            <option value="CNAME">CNAME</option>
            <option value="MX">MX</option>
            <option value="TXT">TXT</option>
            <option value="SRV">SRV</option>
            <option value="NS">NS</option>
            <option value="CAA">CAA</option>
            <option value="TLSA">TLSA</option>
            <option value="SSHFP">SSHFP</option>
            <option value="HTTPS">HTTPS</option>
          </datalist>
        </span>
      </div>
      <div class="width50">
        <label for="rec_ttl" data-i18n>TTL</label>
        <span class="form-control icon-clock">
          <input type="number" id="rec_ttl" name="ttl" min="0" max="604800" data-attr="value:ttl">
        </span>
      </div>
    </div>
    <div>
      <label for="rec_name" data-i18n>Name</label>
      <span class="form-control icon-link">
        <input type="text" id="rec_name" name="name" required maxlength="253"
               autocomplete="off" data-attr="value:name">
      </span>
    </div>
    <div>
      <label for="rec_value" data-i18n>Value</label>
      <span class="form-control icon-edit">
        <input type="text" id="rec_value" name="value" required maxlength="4096"
               autocomplete="off" data-attr="value:value">
      </span>
    </div>
  </fieldset>
  <fieldset class="submit right">
    <button type="submit" class="btn btn-primary icon-save" data-i18n>Add</button>
  </fieldset>
</form>
