<form data-form="siteDomainAdd" data-attr="action:form_action" method="post" data-ajax-submit="true" data-validate="true">
  <fieldset>
    <div>
      <label for="new_host" data-i18n>Domain</label>
      <span class="form-control icon-link">
        <input type="text" id="new_host" name="host" required maxlength="253" placeholder="sub.example.com {LNG_or} *.example.com" autocomplete="off" data-attr="value:host">
      </span>
      <div class="comment" data-i18n>Wildcard (*.example.com) accepts every subdomain that is not defined elsewhere, including ones nobody registered. It needs a DNS zone on this
        server and is verified through DNS, not HTTP.</div>
    </div>
    <div>
      <label for="new_path" data-i18n>Path</label>
      <span class="form-control icon-folder">
        <input type="text" id="new_path" name="path" maxlength="253" placeholder="/shop {LNG_or leave blank If you want to use it as Alias}" autocomplete="off"
               data-attr="value:path">
      </span>
    </div>
  </fieldset>
  <fieldset class="submit right">
    <button type="submit" class="btn btn-primary icon-save" data-i18n>Add</button>
  </fieldset>
</form>